streamlit
yfinance
numpy
tensorflow
pandas
scikit-learn
keras
matplotlib
streamlit_option_menu
bcrypt
plotly
datetime
urllib3
nltk
beautifulsoup4
pip

#create a python script to install the requirements in the requirements.txt file
# Activating VENV
# python -m venv venv
# source .venv/bin/activate or .venv\Scripts\activate

#
#
#